In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

C:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# Reading the Dataset
dataset=pd.read_csv('Social_Network_Ads.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset=dataset.astype(int)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [4]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [5]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset['Purchased']
indep

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [6]:
dep

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int32

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 


grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
20 fits failed out of a total of 60.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
7 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
13 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.83046456 0.84197469 0.81268062 0.8586786
        nan        nan 0.81698845 0.86573742 0.81173595 0.8597995 ]
  warnings.warn(

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1', verbose=3)

In [14]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
print(re)
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

{'mean_fit_time': array([0.        , 0.        , 0.03436632, 0.3158978 , 0.02811918,
       0.31867323, 0.        , 0.00312452, 0.03436704, 0.32179856,
       0.02811856, 0.28118358]), 'std_fit_time': array([0.        , 0.        , 0.00624886, 0.01535557, 0.00624912,
       0.02338109, 0.        , 0.00624905, 0.00624874, 0.01593097,
       0.00624809, 0.06402704]), 'mean_score_time': array([0.        , 0.        , 0.01249743, 0.03436713, 0.01249633,
       0.02811899, 0.        , 0.        , 0.00624871, 0.01874566,
       0.00937195, 0.0218699 ]), 'std_score_time': array([0.        , 0.        , 0.01168976, 0.01530478, 0.01168826,
       0.01168948, 0.        , 0.        , 0.00765308, 0.00624871,
       0.00765216, 0.00765298]), 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=['auto', 'auto', 'sqrt', 'sqrt', 'log2', 'log2', 'auto',
                   'auto', 'sqrt', 'sqrt', 'log2', 'log2'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[10, 100, 10, 100, 10, 100, 10, 100, 10, 100, 10, 100],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 10}, {'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 100}, {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 10}, {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 100}, {'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 10}, {'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 100}, {'criterion': 'entropy', 'max_features': 'auto', 'n_estimators': 10}, {'criterion': 'entropy', 'max_features': 'auto', 'n_estimators': 100}, {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 10}, {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 100}, {'criterion': 'entropy', 'max_features': 'log2', 'n_estimators': 10}, {'criterion': 'entropy', 'max_features': 'log2', 'n_estimators': 100}], 'split0_test_score': array([       nan,        nan, 0.8       , 0.72727273, 0.76470588,
       0.76470588,        nan,        nan, 0.76470588, 0.8       ,
       0.72727273, 0.8       ]), 'split1_test_score': array([       nan,        nan, 0.81081081, 0.85      , 0.78947368,
       0.87179487,        nan,        nan, 0.81081081, 0.87179487,
       0.81081081, 0.84210526]), 'split2_test_score': array([       nan,        nan, 0.7804878 , 0.80952381, 0.80952381,
       0.80952381,        nan,        nan, 0.7804878 , 0.80952381,
       0.73170732, 0.80952381]), 'split3_test_score': array([       nan,        nan, 0.84210526, 0.9       , 0.81081081,
       0.9       ,        nan,        nan, 0.87179487, 0.9       ,
       0.9       , 0.9       ]), 'split4_test_score': array([       nan,        nan, 0.91891892, 0.92307692, 0.88888889,
       0.94736842,        nan,        nan, 0.85714286, 0.94736842,
       0.88888889, 0.94736842]), 'mean_test_score': array([       nan,        nan, 0.83046456, 0.84197469, 0.81268062,
       0.8586786 ,        nan,        nan, 0.81698845, 0.86573742,
       0.81173595, 0.8597995 ]), 'std_test_score': array([       nan,        nan, 0.04852157, 0.06959672, 0.04162043,
       0.06479575,        nan,        nan, 0.04176134, 0.05541772,
       0.07386825, 0.05603768]), 'rank_test_score': array([9, 9, 5, 4, 7, 3, 9, 9, 6, 1, 8, 2])}

In [15]:
print(grid.best_params_)

{'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 100}

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000000,0.000000,0.000000,0.000000,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,0.000000,0.000000,0.000000,0.000000,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2,0.034366,0.006249,0.012497,0.011690,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.800000,0.810811,0.780488,0.842105,0.918919,0.830465,0.048522,5
3,0.315898,0.015356,0.034367,0.015305,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.727273,0.850000,0.809524,0.900000,0.923077,0.841975,0.069597,4
4,0.028119,0.006249,0.012496,0.011688,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.764706,0.789474,0.809524,0.810811,0.888889,0.812681,0.041620,7
5,0.318673,0.023381,0.028119,0.011689,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.764706,0.871795,0.809524,0.900000,0.947368,0.858679,0.064796,3
6,0.000000,0.000000,0.000000,0.000000,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
7,0.003125,0.006249,0.000000,0.000000,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
8,0.034367,0.006249,0.006249,0.007653,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.764706,0.810811,0.780488,0.871795,0.857143,0.816988,0.041761,6
9,0.321799,0.015931,0.018746,0.006249,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.800000,0.871795,0.809524,0.900000,0.947368,0.865737,0.055418,1
10,0.028119,0.006248,0.009372,0.007652,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.727273,0.810811,0.731707,0.900000,0.888889,0.811736,0.073868,8
11,0.281184,0.064027,0.021870,0.007653,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.800000,0.842105,0.809524,0.900000,0.947368,0.859799,0.056038,2

In [18]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 100}: 0.9256751954513147

In [19]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[79  6]
 [ 4 45]]

In [20]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.95      0.93      0.94        85
           1       0.88      0.92      0.90        49

    accuracy                           0.93       134
   macro avg       0.92      0.92      0.92       134
weighted avg       0.93      0.93      0.93       134

In [21]:
table_pr=pd.DataFrame()

In [22]:
print(X_test)

[[-0.76605872  0.52531653  1.00754728]
 [ 0.02298918 -0.57354963 -0.99250926]
 [-0.27290378  0.16892751  1.00754728]
 [-0.76605872  0.28772385 -0.99250926]
 [-0.27290378 -0.57354963 -0.99250926]
 [-1.06195168 -1.4645222   1.00754728]
 [-0.66742773 -1.61301763 -0.99250926]
 [-0.1742728   2.21816441  1.00754728]
 [-1.94963056 -0.03896609 -0.99250926]
 [ 0.91066806 -0.78144323  1.00754728]
 [-0.76605872 -0.60324872  1.00754728]
 [-0.96332069 -0.42505421 -0.99250926]
 [-0.07564181 -0.42505421  1.00754728]
 [ 0.12162016  0.22832568  1.00754728]
 [-1.75236858  0.49561745  1.00754728]
 [-0.56879674  1.4162891  -0.99250926]
 [-0.07564181  0.22832568  1.00754728]
 [-1.85099957  0.46591836  1.00754728]
 [ 1.69971595  1.80237721 -0.99250926]
 [-0.27290378 -1.40512403  1.00754728]
 [-0.27290378 -0.66264689 -0.99250926]
 [ 0.91066806  2.21816441 -0.99250926]
 [ 0.31888214 -0.54385055 -0.99250926]
 [ 0.91066806  1.05990007  1.00754728]
 [-1.45647562 -1.22692951 -0.99250926]
 [ 1.10793003  2.12906715 -0.99250926]
 [-0.96332069  0.52531653 -0.99250926]
 [-0.8646897   0.31742293  1.00754728]
 [-0.07564181 -0.21716061 -0.99250926]
 [-0.56879674  0.49561745 -0.99250926]
 [-1.6537376   0.55501562  1.00754728]
 [-0.07564181  0.28772385  1.00754728]
 [ 1.89697793 -0.27655878  1.00754728]
 [-0.07564181 -0.48445238  1.00754728]
 [-1.35784464 -0.33595695  1.00754728]
 [-1.94963056 -0.51415146  1.00754728]
 [-1.55510661  0.34712202  1.00754728]
 [-0.37153477 -0.78144323 -0.99250926]
 [-0.66742773 -1.048735   -0.99250926]
 [ 1.10793003 -0.98933683 -0.99250926]
 [-1.06195168  0.55501562  1.00754728]
 [ 0.31888214 -0.51415146  1.00754728]
 [-1.06195168  0.43621927 -0.99250926]
 [-0.27290378 -1.4645222   1.00754728]
 [ 0.51614411  1.26779367 -0.99250926]
 [-1.06195168 -0.33595695 -0.99250926]
 [-0.07564181  0.31742293 -0.99250926]
 [ 1.40382299  0.61441379 -0.99250926]
 [-1.16058266 -1.16753134  1.00754728]
 [ 1.10793003  0.49561745  1.00754728]
 [ 1.89697793  1.56478452 -0.99250926]
 [-0.37153477 -1.31602677 -0.99250926]
 [-0.27290378 -0.36565603 -0.99250926]
 [-0.37153477  1.35689093  1.00754728]
 [ 2.0942399   0.55501562 -0.99250926]
 [ 0.71340608 -1.10813317  1.00754728]
 [-0.8646897   0.40652019 -0.99250926]
 [-1.16058266  0.31742293 -0.99250926]
 [ 1.10793003 -1.22692951  1.00754728]
 [-1.45647562 -1.4645222   1.00754728]
 [-0.56879674 -1.52392037  1.00754728]
 [ 2.19287089 -0.81114232  1.00754728]
 [-1.85099957  0.19862659  1.00754728]
 [-0.1742728   0.88170556  1.00754728]
 [-1.85099957 -1.28632769 -0.99250926]
 [ 2.19287089  0.40652019  1.00754728]
 [-1.35784464  0.5847147  -0.99250926]
 [-1.06195168 -0.33595695  1.00754728]
 [ 0.22025115 -0.66264689  1.00754728]
 [ 0.41751312  0.02043208 -0.99250926]
 [-0.56879674  2.39635892 -0.99250926]
 [-0.27290378  0.22832568 -0.99250926]
 [-1.55510661 -0.18746152 -0.99250926]
 [ 0.71340608 -1.40512403  1.00754728]
 [-1.06195168  0.5847147   1.00754728]
 [-1.94963056  0.3768211   1.00754728]
 [ 0.41751312  0.28772385 -0.99250926]
 [ 0.22025115 -0.27655878 -0.99250926]
 [ 1.50245398 -1.048735   -0.99250926]
 [ 0.91066806  1.11929824 -0.99250926]
 [ 1.99560891  2.21816441  1.00754728]
 [ 2.0942399   0.40652019 -0.99250926]
 [-1.35784464 -0.42505421 -0.99250926]
 [-1.16058266 -1.01903592 -0.99250926]
 [ 1.99560891 -0.92993866 -0.99250926]
 [ 0.41751312  0.31742293 -0.99250926]
 [ 0.22025115  0.16892751 -0.99250926]
 [ 2.0942399   1.80237721  1.00754728]
 [ 0.81203707 -0.8408414  -0.99250926]
 [ 0.31888214 -0.27655878 -0.99250926]
 [ 0.41751312 -0.15776244  1.00754728]
 [-0.07564181  2.27756258 -0.99250926]
 [-1.45647562 -0.6329478  -0.99250926]
 [-1.25921365 -1.07843409  1.00754728]
 [-1.35784464  0.43621927  1.00754728]
 [-1.06195168  0.7926083  -0.99250926]
 [-1.45647562 -0.18746152  1.00754728]
 [ 1.00929905 -1.07843409  1.00754728]
 [ 1.00929905  0.61441379  1.00754728]
 [ 0.41751312  1.03020099  1.00754728]
 [ 0.6147751  -0.90023957 -0.99250926]
 [-0.56879674  1.50538635  1.00754728]
 [ 0.02298918 -0.57354963 -0.99250926]
 [-0.56879674  1.95087264 -0.99250926]
 [ 1.40382299 -1.43482311 -0.99250926]
 [ 1.50245398  1.03020099 -0.99250926]
 [ 0.12162016 -0.81114232  1.00754728]
 [ 0.02298918 -0.24685969  1.00754728]
 [-0.1742728  -0.57354963 -0.99250926]
 [-0.1742728  -0.18746152 -0.99250926]
 [-0.27290378 -1.31602677 -0.99250926]
 [-0.27290378 -0.57354963  1.00754728]
 [ 0.41751312  0.10952933  1.00754728]
 [ 0.91066806 -0.60324872 -0.99250926]
 [ 2.0942399  -1.19723043 -0.99250926]
 [ 1.10793003 -0.12806335  1.00754728]
 [ 0.71340608  1.83207629 -0.99250926]
 [-0.66742773  0.5847147  -0.99250926]
 [ 0.81203707  0.3768211  -0.99250926]
 [ 0.91066806 -0.54385055 -0.99250926]
 [-1.16058266 -1.61301763  1.00754728]
 [ 2.19287089  0.97080281  1.00754728]
 [ 0.02298918  1.26779367 -0.99250926]
 [ 0.22025115  1.11929824  1.00754728]
 [ 0.41751312 -0.48445238 -0.99250926]
 [-0.27290378 -0.30625786  1.00754728]
 [ 1.00929905 -0.8408414   1.00754728]
 [ 1.00929905  1.92117355 -0.99250926]
 [ 0.02298918  1.29749276 -0.99250926]
 [-0.8646897   2.33696075  1.00754728]
 [-1.16058266 -1.61301763 -0.99250926]
 [ 2.19287089 -0.81114232  1.00754728]
 [-1.35784464 -1.49422128  1.00754728]
 [ 0.41751312  2.36665983  1.00754728]]

In [23]:
table_pr['Age']=X_test["Age"]
table_pr['Gender_male']=X_test["Gender_Male"]
table_pr['Estimated_Salary']=X_test["EstimatedSalary"]
table_pr['Actual']=y_test
table_pr['Predicted']=grid_predictions

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [24]:
table_pr.head(134)

Empty DataFrame
Columns: []
Index: []

In [25]:
table_pr.to_csv("cm.csv",index=False)

In [26]:
dataset['']
dataset['Predicted']=grid_predictions

KeyError: ''

In [ ]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))